[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pvporcupine = "*"
pyaudio = "*"
deepspeech = "*"
webrtcvad = "*"
numpy = "*"
gpiozero = {version = "*", platform_machine = "== 'armv7l'"}
rpi-gpio = {version = "*", platform_machine = "== 'armv7l'"}

[dev-packages]

[requires]
python_version = "3.7"
